:root {
    --pagemodule-element-spacing: .375rem 0.75rem;
    --pagemodule-grid-spacing: 1rem;
    --pagemodule-grid-inner-spacing: .75rem;

}

.t3-page-ce-body {
    margin-top: calc(var(--pagemodule-grid-spacing) * -.5);
}
.t3-page-column-header {
    font-weight: var(--bs-body-font-weight);
    font-size: .6875rem;
    padding: 0;
}

.t3-page-ce {
	margin-top: 0;
}
.t3-grid-table {
border-spacing: calc(var(--pagemodule-grid-spacing) / 1.5 );
}

.t3-page-ce-dragitem .t3-page-ce-header-draggable:hover { 
    background-color: rgba(0,0,0, .05);
}

.t3js-page-ce:has([class*="reference"]) .t3-page-ce-dragitem .t3-page-ce-header-draggable:hover { 
    background-color: hsla(from var(--token-color-teal-50) h s l / 20%);
}

.t3-page-ce-element:has([class*="reference"]) {
    border-color: hsla(from var(--token-color-teal-50) h s l / 50%);
}

.t3-page-ce-danger > .t3-page-ce-header,
.t3-page-ce-danger > div > .t3-page-ce-header {
	background-color: hsla(from var(--bs-danger) h s l / 50%) !important;
}

.t3-page-ce-danger > .t3-page-ce-element,
.t3-page-ce-danger > div > .t3-page-ce-element {
	border-color: hsla(from var(--bs-danger) h s l / 50%) !important;
}

.t3js-module-body .element-preview-content > .reference {
	position: relative;
	margin-top: 7px;
}

.t3js-module-body .element-preview-content > .reference .t3-page-ce-header-icons-right,
.t3js-module-body .element-preview-content > .reference .t3-page-ce-wrapper-new-ce,
.t3js-module-body .element-preview-content > .reference .t3-page-ce-dropzone-available {
	display: none !important;
}



.t3js-module-body .element-preview-content > .reference .element-preview {
	padding-top: 10px;
}

.t3js-module-body .element-preview-content > .reference .reference-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 20px);
    height: calc(100% + 10px);
	margin: 0px -10px -5px -10px;
	border-radius: var(--pagemodule-grid-border-radius);
	background-color: hsla(from var(--token-color-teal-50) h s l / 20%)	;
}
